@import "_mixins.scss";
@import "_variables.scss";

.left-bar {
	display: grid;
	justify-content: center;
	grid-template-rows: 10% 60% 30%;
	grid-area: 1 / 1 / 3 / 2;
	background: $purple;
	border-radius: 35px;
	div {
		cursor: pointer;
	}
	.home {
		display: flex;
		align-items: flex-end;
		img {
			@include hw48();
			border: 2px solid $backgroundWhite;
			border-radius: 360px;
		}
	}
	.left-groups {
		@include hw48();
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: auto;
		div {
			@include displayFlex;
			margin: 15% 0 15% 0;
		}
		.group1 {
			height: 48px;
		}
		.group2 {
			height: 48px;
		}
	}
	#group-one {
		margin-top: 100%;
	}
	#group-two {
		img {
			height: 36px;
			width: 36px;
		}
	}
	.left-groups > div:hover {
		background: $backgroundWhite;
	}
}
