@import "_mixins.scss";
@import "_variables.scss";

.main-page {
	@include displayGrid();
	grid-area: 2 / 2 / 3 / 3;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 40% 30% 30%;
	box-sizing: border-box;
	padding: 0 5% 5% 4%;
	gap: 2%;
	color: $slateblack;
	div {
		display: flex;
		max-height: 100%;
		max-width: 100%;
		border-radius: 25px;
		background: white;
		box-shadow: 2px 2px 10px rgba($color: #d1d5db, $alpha: 1);
		box-sizing: border-box;
		cursor: pointer;
		padding: 5%;
	}
	.cell1 {
		flex-direction: column;
		justify-content: center;
		grid-area: 1 / 1 / 2 / 3;
		background-image: url(../images/shutterstock_1045282858.png);
		background-repeat: no-repeat;
		background-size: 380px 300px;
		background-position: bottom right;
		cursor: auto;
		h1 {
			margin: 0;
			font-style: italic;
		}
		p {
			font-size: 20px;
			font-weight: bold;
		}
		.project-btn {
			@include displayFlex;
			height: 25px;
			width: 200px;
			background-color: $purple;
			color: $backgroundWhite;
			font-size: 20px;
		}
	}
	.cell2 {
		background-image: linear-gradient(to bottom right, #86efac, #4ade80);
	}
	.cell3 {
		background-image: linear-gradient(to bottom right, #fdba74, #fb923c);
	}
	.cell4 {
		background-image: linear-gradient(to bottom right, #fde047, #facc15);
	}
	.cell5 {
		background-image: linear-gradient(to bottom right, #fca5a5, #f87171);
	}
	.body-cell {
		@include hw100;
		display: inline-flex;
		flex-direction: column;
		padding: 10% 20% 10% 20%;
		p {
			position: relative;
			justify-self: flex-start;
			align-self: flex-start;
			height: 36px;
			margin: 0;
			font-size: 36px;
		}
		span {
			position: relative;
			justify-self: flex-end;
			align-self: flex-end;
			height: 72px;
			font-size: 72px;
		}
	}
	.body-cell:hover {
		box-shadow: 2px 2px 10px rgba($color: #9ca3af, $alpha: 1);
	}
}
