@mixin displayFlex() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin displayGrid() {
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 2px;
}

@mixin hw100() {
	height: 100%;
	width: 100%;
}

@mixin hw48() {
	height: 48px;
	width: 48px;
}

@mixin whiteDiv() {
	border-radius: 25px;
	background: white;
	box-shadow: 2px 2px 10px rgba($color: #d1d5db, $alpha: 1);
}
