@mixin displayFlex() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin displayGrid() {
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 2px;
}

@mixin hw100() {
	height: 100%;
	width: 100%;
}

@mixin hw48() {
	height: 48px;
	width: 48px;
}
