@import "_mixins.scss";
@import "_variables.scss";

.right-page {
	@include whiteDiv();
	display: block;
	border-radius: 25px 25px 40px 25px;
	display: grid;
	grid-area: 2 / 3 / 3 / 4;
	grid-template-rows: 49.75% 0.5% 49.75%;
	box-sizing: border-box;
	.top-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		box-sizing: border-box;
		gap: 5%;
		padding: 5%;
		color: $slateblack;
		.top-cell {
			@include displayFlex();
			@include whiteDiv();
			flex-direction: column;
			box-sizing: border-box;
			cursor: pointer;
			.cell-cap {
				background: $purple;
				border-radius: 25px 25px 0 0;
				height: 20%;
			}
			p {
				font-size: 20px;
				text-align: center;
				margin: 10% 0 5% 0;
			}
			span {
				font-size: 48px;
				text-align: center;
				margin-bottom: 15%;
			}
		}
		.top-cell:hover {
			box-shadow: 2px 2px 10px rgba($color: #9ca3af, $alpha: 1);
		}
	}
	.row-border {
		border-top: 2px solid $purple;
		justify-self: center;
		width: 75%;
	}
	.team {
		@include displayFlex();
		flex-direction: column;
		.member {
			@include whiteDiv();
			@include displayFlex;
			flex-direction: row;
			box-sizing: border-box;
			border-radius: 360px;
			height: 48px;
			width: 80%;
			margin: 2%;
			padding: 0 5% 0 5%;
			cursor: pointer;
			img {
				border: 3px solid $purple;
				border-radius: 360px;
				height: 36px;
				width: 36px;
			}
			p {
				color: $slateblack;
				font-size: 24px;
				margin: 0 auto 0 auto;
			}
			span {
				color: $slateblack;
				font-weight: bold;
				opacity: 0.75;
			}
		}
		.member:hover {
			box-shadow: 2px 2px 10px rgba($color: #9ca3af, $alpha: 1);
		}
	}
}
