@import "_mixins.scss";
@import "_variables.scss";

.top-bar {
	grid-area: 1 / 2 / 2 / 4;
	background: $backgroundWhite;
	border-radius: $containerRadius;
	div {
		@include displayFlex();
		height: 100%;
	}
	.search-bar {
		justify-content: left;
		float: left;
		width: 50%;
		svg {
			background: #e2e8f0;
			position: relative;
			height: 24px;
			width: 24px;
			margin: 0 0 0 5%;
			padding: 12px;
			border-radius: 90px 0 0 90px;
		}
		input {
			background: #e2e8f0;
			height: 48px;
			width: 100%;
			font-size: 24px;
			border: none;
			border-radius: 0 90px 90px 0;
			outline: none;
		}
		[type="search"]::-webkit-search-cancel-button {
			height: 14px;
			width: 14px;
			margin: 0 3% 0 0;
			-webkit-appearance: none;
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;
		}
	}
	.profile {
		float: right;
		width: 25%;
		#bell {
			padding: 5%;
			cursor: pointer;
		}
		img {
			max-width: 48px;
			border-radius: 360px;
			cursor: pointer;
		}
		#profile-pic {
			border: 3px solid $purple;
		}
		p {
			font-size: 24px;
			margin: 0 0 0 5%;
		}
		#chevron {
			cursor: pointer;
		}
	}
}
