html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: lightgray;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.main-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
  -ms-grid-columns: 10% 60% 30%;
      grid-template-columns: 10% 60% 30%;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
  height: 90%;
  width: 80%;
  background: gray;
  border-radius: 0 50px 0 0;
}

.main-container div {
  width: 100%;
  height: 100%;
}

.main-container .left-bar {
  background: darkgray;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
}

.main-container .main-page {
  background: darkgray;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.main-container .right-page {
  background: darkgray;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

.top-bar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / 2 / 4;
  background: #f8fafc;
  border-radius: 0 50px 0 0;
}

.top-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.top-bar .search-bar {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  float: left;
  width: 50%;
}

.top-bar .search-bar svg {
  position: relative;
  height: 24px;
  width: 24px;
  margin: 0 -10% 0 10%;
}

.top-bar .search-bar input {
  background: #e2e8f0;
  height: 48px;
  width: 75%;
  padding: 0 14px 0 40px;
  margin: 0 0 0 5%;
  font-size: 24px;
  border: none;
  border-radius: 360px;
  outline: none;
}

.top-bar .search-bar [type="search"]::-webkit-search-cancel-button {
  height: 14px;
  width: 14px;
  -webkit-appearance: none;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.top-bar .profile {
  float: right;
  width: 25%;
}

.top-bar .profile #bell {
  padding: 5%;
  cursor: pointer;
}

.top-bar .profile img {
  max-width: 70%;
  max-height: 70%;
  border-radius: 360px;
  cursor: pointer;
}

.top-bar .profile #profile-pic {
  border: 3px solid #6d28d9;
}

.top-bar .profile p {
  font-size: 24px;
  margin: 0 0 0 5%;
}

.top-bar .profile #chevron {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */