@import "_mixins.scss";
@import "_variables.scss";

html,
body {
	@include displayFlex();
	@include hw100();
	background: lightgray;
	font-family: "Roboto", sans-serif;
}

.main-container {
	@include displayGrid();
	grid-template-columns: 10% 60% 30%;
	grid-template-rows: 10% 90%;
	height: 90%;
	width: 80%;
	background: $backgroundWhite;
	border-radius: $containerRadius;
	padding: 1%;
	div {
		@include hw100();
	}
	.right-page {
		border: 1px solid red;
		background: darkgray;
		grid-area: 2 / 3 / 3 / 4;
	}
}

@import "_top-bar.scss";
@import "_left-bar.scss";
@import "_main-page.scss";
