@import "_mixins.scss";

html,
body {
	@include displayFlex();
	background: lightgray;
	height: 100%;
	width: 100%;
	font-family: "Roboto", sans-serif;
}

.main-container {
	@include displayGrid();
	grid-template-columns: 10% 60% 30%;
	grid-template-rows: 10% 90%;
	height: 90%;
	width: 80%;
	background: gray;
	border-radius: 0 50px 0 0;
	div {
		width: 100%;
		height: 100%;
	}
	.left-bar {
		background: darkgray;
		grid-area: 1 / 1 / 3 / 2;
	}
	.main-page {
		background: darkgray;
		grid-area: 2 / 2 / 3 / 3;
	}
	.right-page {
		background: darkgray;
		grid-area: 2 / 3 / 3 / 4;
	}
}

@import "_top-bar.scss";
